:root{
    --main-color:#66B927 ;
    --black-color: #141414;
    --white-color:#DEF5CC ;
    --grey-color:#D6D6D6;
}
*{
    font-family: 'Montserrat', sans-serif;
}

.grey-color{
    color: var(--grey-color);
}

.black-color{
    color: var(--black-color);
}
.main-color{
    color: var(--main-color);
}
.nav{
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20, 20, 20, 0.671) 0%, rgba(102, 185, 39, 0.692) 50%, rgba(20, 20, 20, 0.644) 100%);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1001;

}

.nav-link{
    color: var(--grey-color);
}

.nav-link:hover{
    color: var(--white-color);
}

.navbar-brand{
    color: var(--grey-color);
}

.navbar-brand:hover{
    color: var(--grey-color);
}



.navbar-toggler:focus{
    box-shadow: none;
}

.masthead {

    min-height: 600px;
    background: linear-gradient(90deg,#d6d6d68a 0%, #def5cc83 100%), url(/img/moto-home.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .button{
      border-radius: 55%;
      background-color:var(--black-color) ;
      color: var(--white-color);
  }

  .button:hover{
    background-color: var(--main-color);
  }

  footer{
    background: linear-gradient(90deg, rgb(20, 20, 20) 0%, rgb(102, 185, 39) 50%, rgb(20, 20, 20) 100%);

  }

  .icon-fouter{
    font-size: 30px;
}

.icon-fouter:hover{
    color: var(--sec-color);
    
    transition: 1s;
    transform: rotate(360deg);
    
}

.m-top-100{
    margin-top: 100px;
}

.m-bot-100{
    margin-bottom: 100px;
}

.card-img-top{
    height: 400px;
}

.card:hover{
    -webkit-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.52);
    transition: 0.5s;
}

.card-home{
    border: solid 1px;
    background-color: var(--white-color);
    
}

.card-home:hover{
    -webkit-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.52);
    transition: 0.5s;
}

body{
    background-color: #F5F5F5;
}